body{
	font-family: sans-serif;
	font-size:16px !important;
}
input{
	font-size:16px !important;
}
.loader{
	border: 8px solid #f3f3f3;
    border-top: 10px solid #3498db;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
#user_search_box{
	height: fit-content;
    max-height: 420px;
    background-color: aliceblue;
    overflow: auto;
}
.client_box{
	margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    background-color: #fbfbfb;
}

.ma-au{
	    margin: auto;
}
.hidden{
	display:none;
}

.modal-header .close
{
	margin: -15px 0px;
}
.modal-footer{
display: flow-root;
}
.modal-footer > :not(:last-child){
	float: right;
}
.bac-color-gray{
	background-color: #ebebeb;
}
.size-20{
	font-size:20px;
}
#transfers_search_box{
	max-height: 493px;
    overflow: auto;
}
.info-box{
	cursor: pointer;
}
/*Start change date format*/
input[type="date"]::-webkit-datetime-edit, input[type="date"]::-webkit-inner-spin-button, input[type="date"]::-webkit-clear-button {
  color: #fff;
  position: relative;
}

input[type="date"]::-webkit-datetime-edit-year-field{
  position: absolute !important;
  border-left:1px solid #8c8c8c;
  padding: 2px;
  color:#000;
  left: 56px;
}

input[type="date"]::-webkit-datetime-edit-month-field{
  position: absolute !important;
  border-left:1px solid #8c8c8c;
  padding: 2px;
  color:#000;
  left: 26px;
}


input[type="date"]::-webkit-datetime-edit-day-field{
  position: absolute !important;
  color:#000;
  padding: 2px;
  left: 4px;
  
}
/*End change date format*/

@media (min-width: 576px){
.modal-dialog {
    max-width: 660px;
    margin: 1.75rem auto;
}
}
.form-check-label{
	margin-left:10px;
}
.btn{
	margin-left: 10px;
}